.container {
  padding: 0px !important;
  margin: 0px !important;
}
/* .row {
  margin: 10px;
}  */

#title {
  margin: 10px;
  text-align: left;
  align-items: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#cart_btn:hover {
  background-color: black;
  color: white;
  border-color: black;
}
#cart_btn {
  background-color: rgb(236, 116, 156);
  border-color: rgb(236, 116, 156);
}
